@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: Avenir;
}

a{
    text-decoration: none;
}

/* HEADER */

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    width: 90%;
    margin: 0 auto;

    z-index: 99;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;

    z-index: 99;
}

.content-header img{
    width: 2.4375rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;

    z-index: 99;
}

.title_content-header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    z-index: 99;
}

.title_content-header h1{
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    z-index: 99;
}

.title_content-header p{
    color: #A1A1A1;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    z-index: 99;
}

.btn_burger-header{
    z-index: 99;
}

.btn_burger-header i{
    color: #FFF;
    font-size: 1.25rem;

    z-index: 99;
}

.nav_content-header{
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    width: 100%;
    border-radius: 0rem 0rem 1.5625rem 1.5625rem;
    background: #00205B;
    padding-bottom: 3.75rem;
    
    z-index: 100;
}

.btn_close-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1.25rem 0;
    width: 90%;
    margin: 0 auto;
}

.btn_close-header i{
    color: #FFF;
    font-size: 1.50rem;
    transform: translateY(3px);

    z-index: 100;

}

.nav_content-header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    list-style: none;

    z-index: 100;
}

.nav_content-header ul li a{
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    z-index: 100;
}

.background-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.75rem;
    border-radius: 0rem 0rem 1.5625rem 1.5625rem;
    background: #00205B;

    z-index: -1;
}



/* MAIN */

.main-global{
    width: 90%;
    margin: 0 auto;
}

.container_articles-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.article-index{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    padding: 1.25rem;
    border-radius: 1.3125rem;
    background: #FFF;
    box-shadow: 2px 2px 0px 0px #0084D4;
}

.content_article-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.625rem;
}

.title_content_article-header p:nth-child(1){
    color: #0084D4;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_content_article-header p:nth-child(2){
    color: #0084D4;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.number_content_article-header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .3125rem 1.25rem;
    border-radius: 0.75rem;
    background: #0084D4;
}

.number_content_article-header p{
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.illustration_article-index img{
    width: 8rem;
    height: auto;
}


.title_trait-global{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.625rem;

    width: 100%;
}

.title_trait-global h2{
    color: #0084D4;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title_trait-global div{
    transform: translateY(-5px);
    width: 30%;
    background: #0084D4;
    height: .0313rem;
}




.container_articles_others_numbers-index{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1.25rem;
    padding-bottom: 1.5625rem;

    overflow-x: scroll;
}

.article_others_numbers-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;

    padding: 1.25rem;
    border-radius: 0.875rem;
    background: #0084D4;
}

.illustration_article_others_numbers-index img{
    width: 6.625rem;
    height: auto;
}

.title_article_others_numbers-index p{
    color: #FFF;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_voirplus-index{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;

    width: 90%;
    padding: .3125rem 0;
    border-radius: 0.4375rem;
    background: #00205B;
    box-shadow: 2px 2px 0px 0px rgba(0, 32, 91, 0.25);
}

.btn_voirplus-index p{
    color: #FFF;
    text-align: center;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




/* FOOTER */

.footer-global{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .9375rem;

    width: 100%;
    padding: 1.25rem 0;
    background: #00205B;
}

.footer-global p{
    color: #FFF;
    text-align: center;
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content_footer-global{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.content_footer-global img{
    width: 1.6875rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.content_footer-global p:nth-child(1){
    color: #FFF;
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.content_footer-global p:nth-child(2){
    color: #FFF;
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-global a{
    color: #FFF;
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}






/* Framework */

.active{
    display: block;
}